@charset "utf-8";

body {
    border: dashed #D99F59;
    background-color: #591902;
}

.bordas{
    padding-left: 25px;
    border: dashed #D99F59;
    margin: 25px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
   }

   .container {
    width: 80%;
    margin: 20px 30pxq;
   }

